* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 12px;
    height: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
}
a:link,a:visited {
    color: inherit;
}

th {
    text-align: right;
}

#head {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
}

#classInfo {
    float: left;
}

#barInfo {
    float: right;
    margin: 5px 10px 5px 0px;
}


#content {
    overflow: scroll;
    position: absolute;
    top: 70px;
    left: 0;
    bottom: 0;
    right: 0;
}
#classNameDisp {
    font-size: large;
    margin: 5px;
}
#selectClass {
    margin: 5px;
}

#qList {
    margin: 0px 20px;
}

#qList .question {
    margin-bottom: 10px;
    padding: 2px;
    border: 1px solid #aabde4
}

#qList .question :hover {
    background-color: #e3ecff;
}

#qList .question2 {
    margin-bottom: 10px;
    padding: 2px;
    border: 1px solid #aabde4;
    background-color: #e2e2e2;
}

#qList .subject {
    font-weight: bold;

}

#qList .content {
    font-weight: normal;
    padding: 5px 5px 5px 20px;
}
