<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>WoT Programming</title>

    <link type="text/css" rel="stylesheet" href="vendor/jquery-ui.cupertino.min.css" />
    <link href="applications_css/main.css" rel="stylesheet" />

    <script src="vendor/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="vendor/jquery-ui.cupertino.min.js"></script>
    <script>
      var store = {
      "user": "<%= store.user %>",
      "url": "<%= store.url %>",
      "msg": "<%= store.msg %>"
      };
    </script>

    <script src="applications_js/message.js"></script>
  </head>
  <body>
	<!-- DIALOG: Message -->
    <div id="messageDialog" title="メッセージ" style="display: none; " class="dialog">
      <div id="messageText"></div>
    </div>
  </body>
</html>
